/*Fundo da página*/
body{
    background-color: Gainsboro;
}

/*estilo de borda de tabela*/
th, td{
    border: 1px solid black;
    padding: 5px;
}

table{
    margin-top: 20px;
}

/*estilo de botões*/
#estoque, #pedidos, #sair{
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    border-color: black;
}

